<h1>
    {{ 'title' }}
  </h1>
  <div class="login">
    <div class="loginHeader">
      <h1 class="headerContaint">SIGN IN</h1>
    </div>
  </div>
  <div class="pickup-container">
    <div class="pickup-header">
      <h1 class="pickup-header-info">PICKUP INFORMATION</h1>
    </div>
    <div class="pickup-info">
      <p class="pickup-info-details">To change a Pick Up in Store location, make all edits in your Shopping Cart</p>
    </div>
    <div class="pickup-btn">
      <button class="pickup-btn-details" [routerLink]="['../payMethod']">Continue</button>
    </div>
  </div>
  <div class="payment-method-container">
    <div class="payment-header">
      <h1 class="payment-header-details">PAYMENT METHOD</h1>
    </div>

  </div>